{% extends "base.html" %}

{% block content %}

    <h1>Spell Database</h1>

    <form action="" method="post" novalidate>

        <h3>{{ form.name_field.label }}</h3>
        {{ form.name_field(size=32) }}

        <br><br>

        <h3>{{ form.level_checkbox.label }}</h3>
        {% for ch in form.level_checkbox %}
            {{ ch }}&nbsp;{{ ch.label }}&nbsp;&nbsp;&nbsp;
            {# {% if loop.index % 3 == 0 %}<br>{% endif %} #}
        {% endfor %}

        <br><br>

        <h3>{{ form.school_checkbox.label }}</h3>
        {% for ch in form.school_checkbox %}
            {{ ch }}&nbsp;{{ ch.label }}&nbsp;&nbsp;&nbsp;
            {# {% if loop.index % 3 == 0 %}<br>{% endif %} #}
        {% endfor %}

        <br><br>

        <h3>{{ form.class_checkbox.label }}</h3>
        {% for ch in form.class_checkbox %}
            {{ ch }}&nbsp;{{ ch.label }}&nbsp;&nbsp;&nbsp;
            {# {% if loop.index % 3 == 0 %}<br>{% endif %} #}
        {% endfor %}

        <br><br>

        {{ form.submit_button() }}

        <br><br>


    </form>

    {% if spells %}

        <h2>{{ spells|length }} results</h2>

        <div class="container">

            <!-- SPLIT INTO ROWS OF THREE -->
            {% for spell_row in spells|batch(3) %}
            <div class="row">

                {% for spell in spell_row %}
                <div class="col">

                    <!-- NAME, LEVEL, SCHOOL -->
                    <spellblock class="title"><a href="{{ url_for('render_spell_page', spell_name=spell.name) }}" class="spellname">{{ spell.name }}</a></spellblock> <br>
                    {# <spellblock class="title">{{ spell.name }}</spellblock> <br> #}
                    <spellblock class="subtitle">{{ spell.subtitle }}</spellblock> <br><br>

                    <!-- CASTING TIME -->
                    <spellblock class="list">
                        <ico class="fas fa-hourglass-half"></ico>&nbsp; <!--<i class="fas fa-hourglass-start"></i>-->
                        <b>Casting Time:</b> {{ spell.time }}
                    </spellblock> <br>

                    <!-- RANGE -->
                    <spellblock class="list">
                        <ico class="fas fa-drafting-compass"></ico>&nbsp; <!--<i class="fas fa-hourglass-start"></i>-->
                        <b>Range:</b> {{ spell.range }}
                    </spellblock> <br>

                    <!-- COMPONENTS -->
                    <spellblock class="list">
                        <ico class="fas fa-mortar-pestle" ></ico>&nbsp;
                        <b>Components:</b> {{ spell.components }}
                    </spellblock> <br>

                    <!-- DURATION -->
                    <spellblock class="list">
                        <ico class="fas fa-hourglass-end"></ico>&nbsp;
                        <b>Duration:</b> {{ spell.duration }}
                    </spellblock> <br>

                    <!-- SPELL LISTS -->
                    <spellblock class="list">
                        <ico class="fas fa-hat-wizard"></ico>&nbsp;
                        <b>Spell lists:</b> {{ spell.classes }}
                    </spellblock> <br>

                </div>
                {% endfor %}

                <!-- FILL UP REMAINING COLUMNS -->
                {% for i in range(3-spell_row|length) %}
                <div class="col" style="background-color: none; opacity: 0;">a</div>
                {% endfor %}

            </div>
            {% endfor %}

        </div>

    {% else %}

        <h2>0 results</h2>
        <p>Try refining your search.</p>

    {% endif %}

{% endblock %}